.content{
    margin-left: 3.5%;
    margin-top: 3.5%;
}

.content2{
    margin-left: 3.5%;
    margin-right: 3.5%;
}

.field{
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-top: 1.5%;
}

.info{
    margin-left: 3.5%;
    margin-top: 1.5%;
    color: white;
}

.select{
    margin-left: 3.5%;
    margin-top: .5%;
}

.control .input input{
    width: 67%;
}

.content3{
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-top: 2.5%;
}
